/* start main rules */

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; 
}

ul,
ol {
  list-style: none;
}

ul,
ol{
  padding: 0;
}

body {
    font-family: Arial;
    font-style: italic;
    box-sizing: border-box;
}

/* end main rules */

/* start navigation bar */

.navbar {
    padding-bottom: 116px;
    padding-top: 40px;
    overflow: hidden;
}

.navbar .brand {
    float: left;
}

.navbar .container .links {
    float: left;
    margin: 8px 0 0 175px;
}

.navbar .container .links ul {
    display: flex;
}

.navbar .container .links ul li {
    color: #373737;
    font-size: 17px;
    margin-right: 72px;
}

.navbar .container .links ul .active::before{
    content: "";
    height: 3px;
    width: 23px;
    background-color: blue;
    display: inline-block;
    position: absolute;
    transform: translateY(31px);
}

.navbar .container .button {
    float: left;
}

.navbar .container button {
    font-family: Arial;
    font-size: 17px;
    font-style: italic;
    text-align: center;
    color: #505050;
    border-radius: 11px;
    background-color: transparent;
    border: 2px solid #717cff;
    padding: 9px 32px 13px 35px;
}

/* end navigation bar */

/* start header */

.header  {
    overflow: hidden;
    padding-bottom: 25px;
}

.header .container .title {
    float: left;
    width: 40%;
    padding-top: 24px;
}

.header .container .subtitle {
    float: right;
}

.header .container .title h1 {
    font-size: 56px;
    line-height: 64px;
    color: #2F2F2F;
    margin-bottom: 28px;
}

.header .container .title h1 span {
    color: rgba(113, 124, 255, 1);
}

.header .container .title p {
    font-size: 22px;
    line-height: 38px;
    margin-bottom: 25px;
    color: #7D7D7D;
}

.header .container .title button i {
    padding: 0 34px 0;
}

.header .container .title button {
    padding: 12px 0 12px 34px;
    font-size: 22px;
    line-height: 40px;
    font-style: italic;
    font-family: Arial;
    background-color: #717CFF;
    border-radius: 11px;
    border: none;
    margin-bottom: 63px;
}

.header .container .title .icons {
    font-size: 20px;
    display: flex;
    column-gap: 25px;
}

.header .container .title .icons .twitter {
    background-color:black;
    color: white;
}

.header .container .title .icons i:first-child {
    color:#3C5B9A;
}

/* end header */

/* start my framework */

.container {
    max-width: 1200px;
    margin: auto;
}

/* end my framework */